@media only screen and (max-width:768px){
	.imgs{
		width:400px !important;
		height:320px !important;
	}
	#im{
	width:430px !important;
	height:430px !important;
	}
	.mslydp{
		width:100% !important;
		top:405px !important;
		left:0 !important;
	}
	#comimg{
		width:250px !important;
		height:250px !important;
	}
	.comimgs{
		width:200px !important;
		height:200px !important;
	}
	.footer{
		height:310px !important;
	}
}
.cont{
	text-align:center;
	padding:0;
	margin:0 15%;
}
#im{
	width:600px;
	height:600px;
}
.imgs{
	width:660px;
	height:480px;
}
p{
	text-align:justify;
}